<section class="parallax-window sub-banner overview-bgi" id="short"  data-parallax="scroll" data-image-src="/img/sub-banner-1.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="sub_header" class="overlay">
        <div class="container" id="sub_content">
            <div class="row">
                <div class="breadcrumb-area">
                    <h1><%= title %></h1>
                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        <li class="active"><%= title %></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
</section>
<!-- Sub Banner end -->