<% include header %>
      
      
    <div class="container bredcrumb-area">
      <ul class="list-inline bredcrumb text-right content-area">
        <li><a href="/">Home</a> / </li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <!--==========================
    ============================-->
    <section id="faq" class="content-area">
      <div class="container innercontent">
        <div class="row">
          <div class="main-title">
            <h1>Frequently Asked Questions</h1>
          </div>
          <div class=" col-md-8 col-md-offset-2 col-sm-12 mb30">
           
            <div class="panel-group white-bg pd-15 pt-30 pb-30" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
              
                <div class="panel-heading"  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse4" id="heading1">
                  <h4 class="panel-title">
                    Why Avenue.in?
                    <i class="more-less fa fa-plus pull-right"></i>
                  </h4>
                </div>
           
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                  <div class="pd-15">
                    <p>
                      Avenue.in discovers lucrative investment options in the real estate canvas for investors who want smartly use their wealth. We also aim at filling the service gap for customers, right from enquiring the authentication of the chosen property to closing the purchase with registration. Avenue.in is a smart online tool for those who live across borders and those who lack physical presence in India.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">

                <div class="panel-heading" class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2" id="heading2">
                  <h4 class="panel-title">
                    How do the photos and videos attested to each property help us?
                    <i class="more-less fa fa-plus pull-right"></i>
                  </h4>
                </div>

                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                  <div class="pd-15">
                    <p>
                      We connect buyers from realty to ‘Reality’ with the help of images and videos that speak more about the amenities, facilities & surroundings of the property. In this age when access to reality of properties is difficult, we make it easy by bringing the best of imagery information onto your home screen.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
   
                <div class="panel-heading" role="button" id="heading3" class="collapsed"  data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  <h4 class="panel-title">
                    How soon are you going to kickstart operations in other cities?
                    <i class="more-less fa fa-plus pull-right"></i>
                  </h4>
                </div>

                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="pd-15">
                    <p>
                      We are growing towards expanding our canvas across most of the opportunistic  cities like Vijayawada, Guntur, Vizag and so on. As of now we are operating in a full throttle in Amaravati.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">

                <div class="panel-heading"  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4" id="heading4">
                  <h4 class="panel-title">
                    We can’t see some properties listed here. Why aren’t all the properties in the market listed on your website?
                    <i class="more-less fa fa-plus pull-right"></i>
                  </h4>
                </div>
 
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                  <div class="pd-15">
                    <p>
                      Avenue.in is conceived as realty solution to fill the service gaps between the property sellers and buyers by ensuring authenticity and credibility of the property, parties, transaction and investment. For these reasons we have limited the options that we showcase. We do not choose to list all property options for the following reasons. Reason can be one or more of the following:
                    </p>
                    <ul class="list-inline">
                      <li>When the builder does not have credibility in the market.</li>
                      <li>When the property developers or builders do not choose list on our site due to the existence of some grey areas.</li>
                      <li>When the developer is not willing to standardize his processes to our norms.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading5" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  <h4 class="panel-title">
        
                   Can you guarantee lowest possible price?
                    <i class="more-less fa fa-plus pull-right"></i>
           
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                  <div class="pd-15">
                    <p>
                      Our effort would remain to bring the best priced property that suites your budget. Prices may vary depending on one or more of the following conditions:
                    </p>
                    <ul class="list-inline">
                      <li>Cash flow of the Seller.</li>
                      <li>Ready cash available with the buyer. The ability of the buyer to make a bulk payment to further proceed and complete the registration process.</li>
                      <li>Prevailing market conditions.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading6" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  <h4 class="panel-title">
            
                    Do you guarantee appreciation of the property?
                    <i class="more-less fa fa-plus pull-right"></i>
              
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                  <div class="pd-15">
                    <p>
                      Real estate activities are based on speculation in the market. Since investment in any property provides appreciating value, it is a safe option. However, since this market is subject to deviations and some influencing factors, we do not guarantee appreciation of any property but we give our guidance as per the current market conditions and speculate future conditions based on our expertise and experience.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading7" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  <h4 class="panel-title">
              
                    Should I get legal opinion for a property?
                    <i class="more-less fa fa-plus pull-right"></i>
               
                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                  <div class="pd-15">
                    <p>
                      Avenue.in does sound due diligence before we list a property on our website but we strongly advice buyer to get legal opinion before signing any agreement.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading8" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  <h4 class="panel-title">
              
                    Is there a check list before going for an agreement? Can you list some points for us?
                    <i class="more-less fa fa-plus pull-right"></i>
                 
                  </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                  <div class="pd-15">
                    <p>
                      Avenue.in suggests every buyer to verify the following before signing, irrespective of the agent you choose.
                    </p>
                    <ul class="list-inline">
                      <li>Check the property online or personally</li>
                      <li>Send your family/friends to check the property personally</li>
                      <li>Check developer credibility in the market</li>
                      <li>Check price through other sources</li>
                      <li>Talk to developer personally or have your family/friends talk to them.</li>
                      <li>Read registration documents very carefully.</li>
                      <li>Get Encumbrance Certificate (EC) along with the registration document.</li>
                      <li>Cross verify property on http://meebhoomi.ap.gov.in website.</li>
                      <li>Get Legal opinion from a lawyer.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading9" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  <h4 class="panel-title">
          
                    Will I get loan for land?
                    <i class="more-less fa fa-plus pull-right"></i>
           
                  </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                  <div class="pd-15">
                    <p>
                      Yes, you can get loan to purchase land, but it has to be a VUDA/CRDA approved layout. Such layout has to be within the reach and boundaries of city. Contact us to find more details.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading10" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                  <h4 class="panel-title">
            
                    Should I buy now or wait for longer?
                    <i class="more-less fa fa-plus pull-right"></i>
           
                  </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                  <div class="pd-15">
                    <p>
                      We believe that real estate sector in India is not a bubble. It would stay as a long term option for investors in India; it’s not a short term trend. Prices are ever rising due to the scarcity of the land, it’s always better to make investment sooner than later. Average ROI in  cities like Vijayawada & Guntur is ranging from 30 to 40% per year. We estimate that this trend will continue for next couple of years and appreciate further in the upcoming years.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" id="heading11" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                  <h4 class="panel-title">
                
                    Should I buy an Apartment or Land?
                    <i class="more-less fa fa-plus pull-right"></i>
                 
                  </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                  <div class="pd-15">
                    <p>
                      This is a choice that is determined by the buyer’s profile. It has been a general observation over years and research the lands reap more in term of ROI when compared to apartments. However, at times market conditions may influence such that apartments reap more for the investor.
                    </p>
                    <p>General rule of thumb is to buy an apartment when you or your family needs a home to live or if you are more interested in monthly income. But if you are a long term investor then lands are a better option. However these aspects are entirely influenced and determined by market conditions.</p>
                  </div>
                </div>
              </div>
              
              </div><!-- panel-group -->
            </div>
          </div>
        </div>
      </section>
      
<% include script %>
<% include footer %>