<title>Amaravati Real Estate Price Trends from December 2014 to Till Date</title>
<meta name="description" content="Amaravati Real Estate Prices starting from the Day Amaravati Land pooling was announced - Till Date. Select Village and Plot Type to get the Price. Click on any Village name to see the price graph."/>
<link rel="canonical" href="http://avenue.in/amaravati-real-estate-price-trends/"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Amaravati Real Estate Price Trends"/>
<meta property="og:description" content="Amaravati Real Estate Prices starting from the Day Amaravati Land pooling was announced - Till Date. Select Village and Plot Type to get the Price. Click on any Village name to see the price graph."/>
<meta property="og:url" content="http://avenue.in/amaravati-real-estate-price-trends"/>
<meta property="og:site_name" content="Avenue.in"/>
<meta property="article:publisher" content="http://www.facebook.com/avenuein/"/>
<meta property="article:tag" content="amaravati Real Estate"/>
<meta property="article:tag" content="amaravati Commercial Plot prices"/>
<meta property="article:tag" content="amaravati Residential Plot prices"/>
<meta property="article:tag" content="amaravati Villa Plot prices"/>
<meta property="og:image" content="https://avenue.in/img/logos/logo.png"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:image:height" content="450"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Amaravati Real Estate Prices starting from the Day Amaravati Land pooling was announced - Till Date. Select Village and Plot Type to get the Price. Click on any Village name to see the price graph."/>
<meta name="twitter:title" content="Amaravati Real Estate Price Trends"/>
<meta name="twitter:site" content="@supportavenue"/>
